.container
  .d-flex.flex-column
    .d-flex.justify-content-between.bg-primary.text-white.p-4
      %br
      %h2 Contacts
      = link_to destroy_user_session_path, method: :delete do
        .text-white= fa_icon 'sign-out', class: 'large-icon'
        %br
    .contacts-list
      -@contacts.each do |contact|
        = link_to contact, class: 'contact' do
          - if contact.avatar.attached?
            .avatar
              = image_tag contact.avatar, class: 'avatar-image'
          -else 
            .text-muted.m-4= fa_icon 'user', class: 'large-icon'

          .d-flex.flex-column.justify-content-center.m-4
            .row= "#{contact.name} #{contact.lastname}"
            .row= contact.phone 
            .row= contact.email
    .float.align-self-end
      = link_to new_contact_path do
        .text-white= fa_icon 'plus', class: 'large-icon'
