.container
  .d-flex.flex-column
    .d-flex.justify-content-between.bg-primary.text-white.p-4
      %br
      %h2 Contacts
      = link_to destroy_user_session_path, method: :delete do
        .text-white= fa_icon 'sign-out', class: 'large-icon'
        %br
    .contacts-list
      -@contacts.each do |contact|
        = link_to contact, class: 'contact' do
          = image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Google_Contacts_logo_vector.svg/1200px-Google_Contacts_logo_vector.svg.png", class: "image"
          .d-flex.flex-column.justify-content-center.m-4
            .row= "#{contact.name} #{contact.lastname}"
            .row= contact.phone 
            .row= contact.email
    .float.align-self-end
      = link_to new_contact_path do
        .text-white= fa_icon 'plus', class: 'large-icon'
